{% load static %}
<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="{% url 'dashboard' %}" class="app-brand-link m-2 py-2">
            <span class="app-brand-logo demo">
                <img src="{% static 'assets/icon/chat-bot.png' %}"
                             alt
                             class="w-px-40 h-auto rounded-circle" />
            </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2">bot</span>
        </a>
        <a href="javascript:void(0);"
           class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>
    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item {% if request.path == '/dashboard/' %}active{% endif %}">
            <a href="{% url 'dashboard' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>
        <!-- kelola PDF -->
        <li class="menu-item {% if request.path == '/dashboard/kelola-dokumen/' %}active{% endif %}">
            <a href="{% url 'kelola-dokumen' %}" class="menu-link">
                <!-- <i class="bx bx-home-circle"></i> -->
                <i class='menu-icon tf-icons bx bxs-file-pdf'></i>
                <div data-i18n="Analytics">Kelola Dokumen</div>
            </a>
        </li>
        <!-- Set Token WA -->
        <li class="menu-item {% if request.path == '/dashboard/set-token-wa/' %}active{% endif %}">
            <a href="{% url 'set-token-wa' %}" class="menu-link">
                <!-- <i class="bx bx-home-circle"></i> -->
                <i class='menu-icon tf-icons bx bxs-key'></i>
                <div data-i18n="Analytics">Set Token Whatsapp</div>
            </a>
        </li>
        <!-- Set Token Telegram -->
        <li class="menu-item {% if request.path == '/dashboard/set-token-tele/' %}active{% endif %}">
            <a href="{% url 'set-token-tele' %}" class="menu-link">
                <!-- <i class="bx bx-home-circle"></i> -->
                <i class='menu-icon tf-icons bx bxs-key'></i>
                <div data-i18n="Analytics">Set Token Telegram</div>
            </a>
        </li>
        <li class="menu-item">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="dropdown-item menu-link" type="submit">
                    <i class="menu-icon tf-icons bx bx-power-off me-2"></i>
                    <div data-i18n="Analytics">Logout</div>
                </button>
            </form>
        </li>
    </ul>
    <div class="sb-sidenav-footer p-2">
        <div class="small">Masuk sebagai:</div>
        {{ user.first_name }} {{ user.last_name }}
    </div>
</aside>
<!-- / Menu -->
