{% extends "master.html" %}
{% block content %}
    <div class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="{% url 'dashboard' %}">Pengelola Chatbot</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
                    id="sidebarToggle"
                    href="#!">
                <i class="fas fa-bars"></i>
            </button>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       id="navbarDropdown"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdown">
                        <li>
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button class="dropdown-item" type="submit">Logout</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Utama</div>
                            <a class="nav-link {% if request.path == '/dashboard/' %}active{% endif %}" href="{% url 'dashboard' %}">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-tachometer-alt"></i>
                                </div>
                                Dashboard
                            </a>
                            <a class="nav-link {% if request.path == '/dashboard/kelola-dokumen/' %}active{% endif %}" href="{% url 'kelola-dokumen' %}">
                                <div class="sb-nav-link-icon">
                                    <i class="fa-solid fa-file-pdf"></i>
                                </div>
                                Kelola Dokumen
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Masuk sebagai:</div>
                        {{ user.username }}
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    {% block dashboard_content %}{% endblock %}
                    
                </main>
                {% include 'components/footer.html' %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        window.addEventListener("DOMContentLoaded", (event) => {
            // Toggle the side navigation
            const sidebarToggle = document.body.querySelector("#sidebarToggle");
            if (sidebarToggle) {
              // Uncomment Below to persist sidebar toggle between refreshes
              // if (localStorage.getItem('sb|sidebar-toggle') === 'true') {
              //     document.body.classList.toggle('sb-sidenav-toggled');
              // }
              sidebarToggle.addEventListener("click", (event) => {
                console.log("click");
                event.preventDefault();
                document.body.classList.toggle("sb-sidenav-toggled");
                localStorage.setItem(
                  "sb|sidebar-toggle",
                  document.body.classList.contains("sb-sidenav-toggled")
                );
              });
            }
          });
    </script>
{% endblock %}
