{% extends "components/navbar.html" %}
{% block title %}Kelola Dokumen{% endblock %}
{% block dashboard_content %}
    <div class="container-fluid px-4">
        <!-- Tampilkan pesan sukses jika ada -->
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show my-3"
                         role="alert">
                        {{ message }}
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissible fade show my-3"
                         role="alert">
                        {{ message }}
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div id="liveAlertPlaceholder"></div>
        <h1 class="mt-4">Kelola Dokumen</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Page ini digunakan untuk mengelola dokumen sebagai knowladge base untuk chatbot</li>
        </ol>
        <!-- Button trigger modal -->
        <button type="button"
                class="btn btn-secondary my-3"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
            <i class="fa-solid fa-file-circle-plus"></i>
            Tambah Dokumen
        </button>
        <!-- Modal -->
        <div class="modal fade"
             id="staticBackdrop"
             data-bs-backdrop="static"
             data-bs-keyboard="false"
             tabindex="-1"
             aria-labelledby="staticBackdropLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Upload Dokumen</h1>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                {% csrf_token %}
                                {{ form.as_p }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="uploadButton" type="submit" class="btn btn-primary">Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                List Dokumen
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama File</th>
                            <th>Waktu Upload</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in files %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <!-- Nomor urut -->
                                <td>{{ file.file_name }}</td>
                                <!-- Nama file -->
                                <td>{{ file.uploaded_at }}</td>
                                <!-- Waktu upload -->
                                <td>
                                    <a type="button"
                                       class="btn btn-success m-1"
                                       href="{{ file.file_path.url }}"
                                       target="_blank">
                                        <i class="fa-solid fa-book-open-reader"></i>    Lihat
                                    </a>
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <a type="button"
                                           class="btn btn-danger m-1"
                                           href="{% url 'delete_file' file.id %}">
                                            <i class="fa-solid fa-file-circle-minus"></i>    Hapus
                                        </a>
                                    </form>
                                </td>
                                <!-- Waktu upload -->
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}
