{% extends "dashboard_template.html" %}
{% load static %}
{% block title %}Kelola Dokumen{% endblock %}
{% block dashboard_content %}
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        {{ message }}
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                {% else %}
                    <div class="alert alert-primary alert-dismissible mb-0" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div id="liveAlertPlaceholder"></div>
        <h1 class="mt-4">Kelola Dokumen</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Page ini digunakan untuk mengelola dokumen sebagai knowladge base untuk chatbot</li>
        </ol>
        <!-- Responsive Table -->
        <!-- Button trigger modal -->
        <div class="mt-3">
            <!-- Button trigger modal -->
            <button type="button"
                    class="btn btn-primary my-3"
                    data-bs-toggle="modal"
                    data-bs-target="#backDropModal">
                <i class='bx bxs-file-plus'></i>
                Tambah Dokumen
            </button>
            <!-- Modal -->
            <div class="modal fade"
                 id="backDropModal"
                 data-bs-backdrop="static"
                 tabindex="-1"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <form method="post" enctype="multipart/form-data">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCenterTitle">Upload Dokumen</h5>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group mb-3">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button"
                                        class="btn btn-outline-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Upload</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">List Dokumen</h5>
            <div class="table-responsive text-nowrap">
                <table class="table" id="file-info">
                    <thead>
                        <tr class="text-nowrap">
                            <th>#</th>
                            <th>Nama File</th>
                            <th>Waktu Upload</th>
                            <th>Digunakan</th>
                            <th>Status</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <div id="pagination-container" class="pagination m-3"></div> <!-- Container untuk pagination -->
                </table>
                <p id="no-data-message" style="display: none; text-align: center; margin-top: 5px;">Data tidak tersedia.</p>
            </div>
        </div>
        <!--/ Responsive Table -->
    </div>
{% endblock %}
{% block custom_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <script>
        var currentPage = 1;
        var totalPages = 1;
        function formatDate(dateString) {
            var options = { year: 'numeric', month: 'long', day: '2-digit' };
            var date = new Date(dateString);
            return date.toLocaleDateString('id-ID', options).split('/').reverse().join('-');
        }

        function getStatusButton(status) {
            if (status === "SUCCESS") {
                return `
                    <button class="btn btn-success" type="button" disabled>
                        <i class='bx bx-check'></i>
                        <span role="status">Done</span>
                    </button>
                `;
            } else if (status === "FAILURE") {
                return `
                    <button class="btn btn-danger" type="button" disabled>
                        <i class='bx bx-x'></i>
                        <span role="status">Failed</span>
                    </button>
                `;
            } else {
                return `
                    <button class="btn btn-primary" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        <span role="status">Extracting...</span>
                    </button>
                `;
            }
        }

        function getActionButtons(file) {
            return `
                <td>
                    <div class="dropdown">
                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                            <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/media/${file.file_path}" target="_blank">
                                <i class='bx bx-book-open'></i> Lihat
                            </a>
                            <form action="delete/${file.id}/" method="post" class="d-inline" id="deletepdf">
                                <input type="hidden" name="csrfmiddlewaretoken" value="${getCSRFToken()}">
                                <button class="dropdown-item" type="submit" ${file.status === 'STARTED' ? 'disabled' : ''} onclick="return confirm('Kamu yakin ingin menghapus file ${file.file_name}?');">
                                    <i class='bx bx-trash'></i> Hapus
                                </button>
                            </form>
                        </div>
                    </div>
                </td>
            `;
        }

        function getCSRFToken() {
            return document.querySelector('[name=csrfmiddlewaretoken]').value;
        }

        function fetchFileRecords(page) {
            $.ajax({
                url: '/docs-data/',
                method: 'GET',
                data: { page: page },
                success: function(response) {
                    var tableBody = $('#file-info tbody');
                    tableBody.empty();
                    if (response.items.length === 0) {
                        $('#no-data-message').show();
                    } else {
                        $('#no-data-message').hide();
                        response.items.forEach(function(record, index) {
                            var formattedDate = formatDate(record.uploaded_at);
                            var statusButton = getStatusButton(record.status);
                            var actionButtons = getActionButtons(record);
                            var row = '<tr>' +
                                '<td>' + ((response.current_page - 1) * 10 + index + 1) + '</td>' + // Menambahkan nomor urut
                                '<td>' + record.file_name + '</td>' +
                                '<td  align="center">' + formattedDate + '</td>' + // Menggunakan tanggal yang diformat
                                '<td  align="center">' + record.count_retrieved + ' kali' + '</td>' +
                                '<td>' + statusButton + '</td>' +
                                actionButtons + // Menambahkan tombol aksi
                                '</tr>';
                            tableBody.append(row);
                        });
                        
                        // Update pagination only if the total pages change
                        if (totalPages !== response.num_pages) {
                            totalPages = response.num_pages;
                            //$('#pagination-container').twbsPagination('destroy');
                            $('#pagination-container').twbsPagination({
                                totalPages: totalPages,
                                startPage: page,
                                visiblePages: 5,
                                onPageClick: function(event, page) {
                                    currentPage = page;
                                    fetchFileRecords(page);
                                }
                            });
                        }
                    }
                },
                error: function() {
                    console.log('Failed to fetch file records.');
                }
            });
        }

        // Fetch records on page load
        $(document).ready(function() {
            fetchFileRecords(currentPage);
            
            setInterval(function() {
                fetchFileRecords(currentPage);
            }, 5000); // Refresh every 5 seconds
        });
    </script>
{% endblock %}