{% extends "master.html" %}
{% load humanize %}
{% load static %}
{% block title %}Login Admin{% endblock %}
{% block content %}
  <div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <!-- Register -->
        <div class="card">
          <div class="card-body">
            <!-- Logo -->
            <div class="app-brand justify-content-center">
              <a href="index.html" class="app-brand-link gap-2">
                <span class="app-brand-logo demo">
                  <img class="mx-2"
                       src="{% static 'assets/icon/chat-bot.png' %}"
                       alt=""
                       width="50">
                </span>
              </a>
            </div>
            <!-- /Logo -->
            <h4 class="mb-2">Welcome to Sneat! 👋</h4>
            <p class="mb-4">Please sign-in to your account and start the adventure</p>
            <div>
              {% if form.errors %}
                <div class="alert alert-danger">Username atau Password kamu salah. Silahkan coba kembali.</div>
              {% endif %}
            </div>
            {% load widget_tweaks %}
            <form method="POST"
                  class="needs-validation"
                  action="{% url 'login' %}"
                  novalidate>
              {% csrf_token %}
              <div class="form-group mb-3">
                <label class="mb-2 text-muted">{{ form.username.label_tag }}</label>
                {% render_field form.username class="form-control" %}
              </div>
              <!-- form-group end.// -->
              <div class="form-group my-3">
                <label class="mb-2 text-muted">{{ form.password.label_tag }}</label>
                {% render_field form.password class="form-control" %}
              </div>
              <!-- <div class="d-flex align-items-center"> -->
              <!-- <div class="form-check">
                  <input type="checkbox" name="remember" id="remember" class="form-check-input">
                  <label for="remember" class="form-check-label">Remember Me</label>
                </div> -->
              <div class="form-group my-3">
                <input type="hidden" name="next" value="{{ next }}">
                <button type="submit" class="btn btn-primary btn-block w-100">Login</button>
              </div>
              <!-- </div> -->
            </form>
          </div>
        </div>
        <!-- /Register -->
      </div>
    </div>
  </div>
{% endblock %}
