{% extends "dashboard_template.html" %}
{% load static %}
{% block title %}Set Token Whatsapp{% endblock %}
{% block dashboard_content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="bg-white">
            {% if messages %}
                <ul>
                    {% for message in messages %}<li>{{ message }}</li>{% endfor %}
                </ul>
            {% endif %}
            <form class="row g-3 p-3 align-items-center" method="post">
                {% csrf_token %}
                
                <!-- <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">Token Whatsapp</label>
                </div>
                <div class="col-6">
                    <input type="text" id="inputPassword6" class="form-control" value="{{ whatsapp_token }}" aria-describedby="passwordHelpInline">
                </div> -->
                <div class="col-6">
                    <label class="form-label">Token Whatsapp</label>
                    <div class="input-group mb-3">
                        <input placeholder="Token Whatsapp"
                               class="form-control password border-end-0"
                               id="token_wa"
                               class="block mt-1 w-full"
                               type="text"
                               name="token_wa"
                               value="{{ whatsapp_token }}"
                               autocomplete="off"
                               readonly
                               onclick="this.removeAttribute('readonly');"
                               required />
                        <span class="bg-white input-group-text togglePassword" id="">
                            <i data-feather="eye" style="cursor: pointer"></i>
                        </span>
                    </div>
                </div>
                <!-- <div class="col-auto">
                    <span id="passwordHelpInline" class="form-text">Must be 8-20 characters long.</span>
                </div> -->
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block custom_js %}
    <script>
    feather.replace({
      'aria-hidden': 'true'
    });

    $(".togglePassword").click(function(e) {
      e.preventDefault();
      var type = $(this).parent().parent().find(".password").attr("type");
      console.log(type);
      if (type == "password") {
        $("svg.feather.feather-eye").replaceWith(feather.icons["eye-off"].toSvg());
        $(this).parent().parent().find(".password").attr("type", "text");
      } else if (type == "text") {
        $("svg.feather.feather-eye-off").replaceWith(feather.icons["eye"].toSvg());
        $(this).parent().parent().find(".password").attr("type", "password");
      }
    });
    </script>
{% endblock %}
